.centre-crop {
  object-fit: cover;
  object-position: center;
  background-position: center center;
  background-repeat: no-repeat;
}

#myCarousel {
  margin-bottom: 30px;
}

#main-pill {
  margin-bottom: 30px;
  font-size: 1.2em;
}

.featurette-heading {
  margin-top: 0px;
}

.text-muted {
  font-size: 0.8em;
}

.featurette-heading {
  font-size: 3em;
}

.center-pills {
    display: flex;
    justify-content: center;
}
